.modalBody h5 {
  font-size: 20px;
  font-weight: 600;
  color: #001845;
}
.header {
  color: #001845;
}
.inputContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}
.inputContainer label {
  font-size: 15px;
  font-weight: 500;
  color: #001233;
}
.inputContainer input,
.inputContainer textarea {
  width: 450px;
  padding: 10px;
  border: 1px solid #001233;
  border-radius: 8px;
}
.inputContainer input:focus,
.inputContainer textarea:focus {
  outline-style: solid;
  outline-color: #001233;
  outline-width: 1px;
}
.inputContainer textarea {
  resize: none;
}
.optional {
  font-size: 12px;
}
.inputContainer input::placeholder,
.inputContainer textarea::placeholder {
  font-size: 15px;
}
.btn1 {
  float: right;
  margin: 10px;
  background-color: #fff;
  border: 2px solid #001845;
  color: #001845;
  font-weight: 500;
  padding: 8px 20px;
  font-size: 15px;
  outline: none;
  transition: all ease-in-out 0.5s;
  border-radius: 10px;
}
.btn1:hover {
  background-color: #001845;
  color: #fff;
  border: 2px solid transparent;
  transform: scale(0.9);
}
.btn2 {
  float: right;
  margin: 10px;
  background-color: #001845;
  padding: 8px 20px;
  color: #fff;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 15px;
  outline: none;
  transition: all ease-in-out 0.5s;
}
.btn2:hover {
  background-color: #fff;
  border: 2px solid #001845;
  color: #001845;
  font-weight: 500;
  transform: scale(0.9);
}
.btn2:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  margin-bottom: 5px;
}
.labelContainer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.labelContainer div img {
  width: 20px;
  margin-right: 5px;
}
.labelContainer div span {
  color: #0466c8;
  font-size: 15px;
  cursor: pointer;
}
.labelContainer div span:hover {
  text-decoration: underline;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
}
.footer .btn2 {
  float: left;
}
.later {
  font-size: 15px;
  font-weight: 400;
  color: #0466c8;
  cursor: pointer;
  text-decoration: underline;
}
.later:hover {
  text-decoration: none;
}
