.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  animation-name: Morph;
  animation-duration: 1.5s;
}
@keyframes Morph {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(0%);
  }
}
.logo {
  width: auto;
  height: 50px;
  margin-top: 15px;
  margin-left: 15px;
}
.loginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: calc((50vw - 336px) / 2);
}
.loginForm h2 {
  font-size: 33px;
  line-height: 46px;
  font-weight: 700;
  color: #03045eff;
  margin-bottom: 0;
}
.loginForm h4 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #bcc1caff;
  margin-top: 8px;
}
.label {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #03045eff;
}
.inputContainer {
  margin-top: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 335px;
  border-radius: 24px;
  border-width: 2px;
  border-color: #03045eff;
  border-style: solid;
}
.inputContainer input {
  border: none;
  padding: 12px 0;
  margin-left: 22px;
  width: calc(100% - 75px);
}
.inputContainer input:focus-visible {
  outline: none;
}
.inputContainer input::placeholder {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #03045eff;
}
.inputContainer img {
  width: 24px;
  height: 24px;
  margin-right: 22px;
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 335px;
  margin-top: 21px;
}
.checkbox {
  border: 2px solid #03045eff;
  width: 18px;
  height: 18px;
  border-radius: 5px;
}
.remember {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.remember div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.options span {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #bcc1caff;
}
.options span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.loginBtn {
  font-family: "Roboto Slab", serif;
  margin: 16px 0 48px 0;
  width: 335px;
  padding: 10px 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffffff;
  background: #03045eff;
  border: none;
  border-radius: 26px;
  transition: all ease-in-out 0.4s;
}
.loginBtn:hover {
  background: #0508baff;
  cursor: pointer;
  transform: scale(0.95);
  transition: all ease-in-out 0.4s;
}
.loginBtn:hover:active {
  background: #1519f8ff;
}
.loginBtn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.signUp {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #bcc1caff;
}
.signUp span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.section2 img {
  width: 45vw;
  margin: 10px;
  height: calc(100vh - 24px);
  border-radius: 10px;
  object-fit: fill;
  position: relative;
}
.overlay {
  position: absolute;
  width: 45vw;
  height: calc(100vh - 24px);
  background: #171a1f66;
  border-radius: 10px;
  top: 10px;
  right: 10px;
  text-align: center;
}
.overlay h1 {
  font-size: 64px;
  line-height: 84px;
  font-weight: 700;
  color: #ffffffff;
}
.overlay h2 {
  font-size: 40px;
  line-height: 56px;
  font-weight: 400;
  color: #ffffffff;
  padding: 0 130px;
}
.signUpBtn {
  width: 335px;
  height: 47px;
  border-radius: 24px;
  border-width: 4px;
  border-color: #ffffffff;
  border-style: solid;
  background: #ffffff00;
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffffff;
  margin-top: 40px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}
.signUpBtn:hover {
  cursor: pointer;
  transform: scale(0.95);
  transition: all ease-in-out 0.4s;
}
.field {
  margin-top: 21px;
}
.error {
  color: #d00000;
  font-size: 14px;
  font-weight: 400;
  width: 338px;
  display: block;
}
.otpInfo {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #bcc1caff;
}
