.container {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1d2125;
  border-bottom: 1px solid #33415c;
  padding: 10px 150px;
  position: relative;
}
.container h3 {
  color: #97a4b2;
  font-size: 25px;
  margin: 0;
}
.container h3 span {
  color: #fff;
}
.dropdown {
  background-color: #d00000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all ease-in-out 0.2s;
}
.dropdown span {
  color: #fff;
}
.dropdown:hover {
  border: 1px solid #fff;
}
.dropdownItemContainer {
  position: absolute;
  top: 45px;
  right: 82.5px;
  background-color: #33415c;
  width: 150px;
  border-radius: 6px;
  padding: 5px;
}
.dropdownItemContainer button {
  background-color: transparent;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  width: 140px;
  border-radius: 6px;
  padding: 5px;
}
.dropdownItemContainer button:hover {
  background-color: #5c677d;
}
