.container {
  margin-left: 150px;
  position: sticky;
  top: 40px;
  width: 256px;
  border-right: 1px solid #33415c;
  height: 80vh;
}

.wsBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  border: none;
  background-color: transparent;
  padding: 5px;
  border-radius: 6px;
  width: 250px;
  margin-bottom: 25px;
}
.wsBtn span,
.wsTab span {
  color: #ffffff;
}
.wsBtn:hover,
.wsTab:hover {
  background-color: #5c677d;
  cursor: pointer;
}
.wsTab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.wsTab {
  width: 250px;
  padding: 5px;
  border-radius: 6px;
}
.wsIcon {
  width: 30px;
  height: 30px;
  color: #ffffff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}
.options li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 6px 8px;
  cursor: pointer;
  width: 200px;
  border-radius: 8px;
}
.options li span {
  color: #97a4b2;
}
.options li:hover {
  background-color: #33415c;
}
