.container {
  margin: 40px 0 0;
  max-height: 90vh;
  padding: 0 16px;
  position: sticky;
  top: 40px;
  width: 256px;
}

.wsBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  border: none;
  background-color: transparent;
}
